.arc-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin: 1rem;
    text-align: center;
    transition: transform 0.2s;
    width: 12.5em;
    height: 17em;
  }
  
  .arc-card:hover {
    transform: scale(1.05);
  }
  
  .arc-card img {
    width: 15em;
    height: 10em;
    object-fit: cover;
    margin-left: -1.6em
  }
  
  .arc-card h3 {
    margin: 0.5rem 0;
    font-size: 1.1em
  }
  
.arc-card p {
    margin: 0.2rem 0
}