.arc-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.arc-details-image {
  width: 50em;
  height: auto;
  margin-bottom: 1rem;
}

.arc-details {
  max-width: 600px;
  text-align: center;
}

.arc-details h2 {
  margin-top: 0;
}

.arc-details button {
  margin: 0.5rem 0;
  padding: 0.5rem;
  background-color: #047999;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.arc-details button:hover {
  background-color: #21a1f1;
}

.back-link {
  display: block;
  margin-top: 1rem;
  color: #61dafb;
  text-decoration: none;
}

@media (max-width: 480px) {
  .arc-details-image {
    width: 30em;
  }
}

@media (max-width: 430px) {
  .arc-details-image {
    width: 25em;
  }
}

@media (max-width: 393px) {
  .arc-details-image {
    width: 20em;
  }
}
